div.info
    div.info__text
        a.info__link(href="#") проекты
        span.info__item 204 успешно выполненых проекта
        span.info__item 320 спроектированных обьектов
    button.button--custom.toBottom