.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 100%;
  margin-left: 30px;
  background: url("./assets/images/bg/aside.png") #ffffff bottom right no-repeat;
  border-radius: 5px;
  &__overhead {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 36px 0;
    background-color: #a971ed;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    border-radius: 5px 5px 0 0;
  }
  &__personAvatar {
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./assets/images/bg/avatar-bg.png") no-repeat 0 0;
    margin: 5vh auto;
    & img {
      border-radius: 50%;
    }
  }
  &__personName {
    font-size: 29px;
    color: #333333;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d2d2d2;
    }
  }
  &__subtitle {
    color: #909090;
    font-size: 27px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 35px;
    margin: 5vh 12% 0;
  }
}

.project__step3 {
  & .aside__subtitle {
    font-size: 35px;
  }
}
