.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 370px;
    height: 205px;
    border-radius: 5px;
    box-shadow: -2px 4px 14.4px 0.6px rgba(124, 67, 83, 0.4);
    margin-top: 2.8vh;
    background: url("./assets/images/bg/card-bg.png") 405% 27% no-repeat;
    padding: 0 30px;
    position: relative;
    &:nth-of-type(even) {
      margin-left: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      background-color: #ffffff;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    &:hover {
      cursor: pointer;
      &::before {
        cursor: pointer;
        opacity: .2;
      }
    }
  }
  &__img {
    margin-right: 30px;
  }
}

.project__step2 {
  & h2 {
  }
  & .content {
    padding: 0;
    background: none;
    flex-shrink: 0;
  }
  & .content__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 280px;
    flex-shrink: 1;
    padding-left: 100px;
    box-shadow: -2px 4px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    padding-top: 3%;
    padding-bottom: 5%;
  }
}