.content {
  width: 770px;
  height: 100%;
  padding: 20px 5%;
  background: url("./assets/images/bg/content-bg1.png") 145% 105% no-repeat, url("./assets/images/bg/content-bg2.png") -187% 108% no-repeat #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  &__subtitle {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 3.5vh;
    line-height: 40px;
  }
  & button {
    text-transform: uppercase;
  }
}

.project__step3 {
  & .content__subtitle {
    margin-bottom: 7.5vh;
  }
}