form[name="order"] {
  display: flex;
  & button[type="submit"] {
    width: 225px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 20px;
  }
}

.input {
  border-radius: 30px;
  width: 310px;
  height: 60px;
  border: 1px solid #dcdcdc;
  font-weight: 600;
  font-size: 21px;
  color: #999999;
  padding: 0 30px;
  &::-webkit-input-placeholder {color:#999999; opacity:1;}
  &::-moz-placeholder          {color:#999999; opacity:1;}
  &:-moz-placeholder           {color:#999999; opacity:1;}
  &:-ms-input-placeholder      {color:#999999; opacity:1;}
  outline: none;
  transition: border 0.3s ease-out;
  font-family: Montserrat, sans-serif;
  &--error {
    border: 1px solid red;
  }
}