.project {
  &__steps {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #f4f5f8;
    transition: transform 0.5s ease-out, margin-left 0.35s linear;
    overflow: hidden;
  }
  &__step {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100vw;
    height: 92vh;
  }
}
