@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/montserrat/Montserrat-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/montserrat/Montserrat-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/montserrat/Montserrat-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/montserrat/Montserrat-Bold.woff");
  font-weight: 800;
}


@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/montserrat/Montserrat-Black.woff");
  font-weight: 900;
}
