@import "~reset-css";
@import "_fonts";
@import "main/projectStep";
@import "main/aside";
@import "main/content";
@import "main/_cards";
@import "main/_form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

main {
  height: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 72px;
  color: #7358fb;
  text-transform: uppercase;
  margin-top: 11.5vh;
  margin-bottom: 5vh;
  line-height: 75px;
  letter-spacing: 1.75px;
}

h2 {
  font-size: 43px;
  color: #0e1621;
}

h3 {
  color: #7759fa;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 800;
  padding-right: 35px;
}

.button {
  width: 310px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-weight: 900;
  font-size: 19px;
  color: #ffffff;
  background: linear-gradient(to right, #7257fb, #bf7de7);
  outline: none;
  position: relative;
  z-index: 1;
  transition: background 0.3s linear;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to right, darken(#7257fb, 5%), darken(#bf7de7, 5%));
  }
  &:active {
    background: linear-gradient(to right, #7257fb, #bf7de7);
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 70%;
  }
  .aside {
    width: 28%;
  }
  .project__step {
    padding: 0 2%;
  }
  .project__step2,
  .project__step3  {
    padding: 0 1%;
  }
  .aside__personName {
    font-size: 18px;
    font-weight: 500;
  }
  .aside__subtitle {
    font-size: 20px;
    font-weight: 500;
  }
  .aside__overhead {
    font-size: 22px;
  }
  .project__step2 {
    & h2 {
      font-size: 38px;
    }
  }
  .project__step3 {
    & h1 {
      margin-top: 5.5vh;
      margin-bottom: 3.5vh;
    }
    & .aside__subtitle {
      font-size: 27px;
    }
    & .content__subtitle {
      margin-bottom: 5.5vh;
    }
  }
  .card__list {
    overflow-y: scroll;
    justify-content: center;
    .card__item:nth-of-type(even) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px){
  .content__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  h1 {
    font-size: 60px;
  }
  .aside__personAvatar {
    width: 180px;
    height: 180px;
    background-size: contain;
    & img {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  form[name="order"] {
    flex-direction: column;
    & button[type="submit"] {
      margin-left: 0;
      margin-top: 3vh;
    }
  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  h1 {
    margin-top: 6.5vh;
    font-size: 55px;
  }
  .content__subtitle {
    font-size: 22px;
  }
  .aside__subtitle {
    font-size: 25px;
    margin: 5vh 5% 0;
  }
  .aside__overhead {
    padding: 25px 0;
  }
  button {
    flex-shrink: 0;
  }
  .card__list {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    display: none;
  }
  .content {
    width: 96%;
    background: url("./assets/images/bg/content-bg1.png") 150% 105% no-repeat, url("./assets/images/bg/content-bg2.png") -550% 108% no-repeat #ffffff;
  }
  h1 {
    margin-top: 8vh;
    font-size: 54px;
    margin-bottom: 4.5vh
  }
  .content__subtitle {
    font-size: 20px;
  }
  .project__step2 h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    background: url("./assets/images/bg/content-bg1.png") 400% 105% no-repeat, url("./assets/images/bg/content-bg2.png") 150% 108% no-repeat #ffffff
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 38px;
    line-height: 58px;
    margin-bottom: 3.5vh;
  }
  .content {
    background: url('./assets/images/bg/content-bg1.png') -300% 105% no-repeat, url('./assets/images/bg/content-bg2.png') 67% 108% no-repeat #ffffff;
  }
  .content__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  #toStep2 {
    width: 100%;
  }
  .project__step2 {
    & .content__row {
      padding-left: 5%;
    }
    & h2 {
      font-size: 30px;
      line-height: 35px;
    }
  }
  .card__item {
    width: 92%;
    padding: 0 4%;
    background: url("./assets/images/bg/card-bg.png") 100% 27% no-repeat;
    & h3 {
      padding-right: 0;
    }
  }
  .card__img {
    margin-right: 15px;
    & img {
      width: 80%;
    }
  }
  form[name="order"] {
    & input, button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape){
  h1 {
    font-size: 38px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    line-height: 60px;
  }
  .content__subtitle {
    font-size: 14px;
    font-weight: 600;
  }
  .project__step2 .content__row {
    padding-bottom: 3%;
  }
  .project__step3 {
    & h1 {
      font-size: 33px;
    }
  }
}

@media screen and (max-width: 380px) {
  .card__item {
    background: url("./assets/images/bg/card-bg.png") 0% 27% no-repeat;
  }
}
