doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="project steps")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='projectsteps'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        main
            div.project__steps('style = margin-left: 0')
                div.project__step#step1
                    section.content
                        a(href="#").logo
                            img(src="./assets/images/logo.png" alt="Логотип")
                        h1 Узнайте стоимость проекта онлайн
                        span.content__subtitle Пройтите тест для расчета предварительной стоимости проекта
                        button.button#toStep2 начать тест
                    aside.aside
                        span.aside__overhead Знакомтесь
                        div.aside__personAvatar
                            img(src="./assets/images/avatar-img.png" alt="Менеджер проекта")
                        span.aside__personName Дмитрий Тищенко
                        span.aside__subtitle Ваш будущий менеджер проектов\
                div.project__step.project__step2#step2
                    section.content
                        div.content__row
                            a(href="#").logo
                                img(src="./assets/images/logo.png" alt="Логотип")
                            h2 Выберите тип сайта
                        ul.card__list
                            li.card__item.card__landing(data-cost='7777')
                                div.card__img
                                    img(src="./assets/images/cards/landing.png" alt="landing pages")
                                h3 landing pages
                            li.card__item.card__business(data-cost='2222')
                                div.card__img
                                    img(src="./assets/images/cards/business.png" alt="сайт визитка")
                                h3 сайт визитка
                            li.card__item.card__corporate(data-cost='3333')
                                div.card__img
                                    img(src="./assets/images/cards/corporate.png" alt="корпоративный сайт")
                                h3 корпоративный сайт
                            li.card__item.card__promo(data-cost='4444')
                                div.card__img
                                    img(src="./assets/images/cards/promo.png" alt="промо сайт")
                                h3 промо сайт
                            li.card__item.card__store(data-cost='5555')
                                div.card__img
                                    img(src="./assets/images/cards/store.png" alt="интернет магазин")
                                h3 интернет магазин
                            li.card__item.card__application(data-cost='8888')
                                div.card__img
                                    img(src="./assets/images/cards/application.png" alt="сервисное приложение")
                                h3 сервисное приложение
                    aside.aside
                        span.aside__overhead Знакомтесь
                        div.aside__personAvatar
                            img(src="./assets/images/avatar-img.png" alt="Менеджер проекта")
                        span.aside__personName Дмитрий Тищенко
                        span.aside__subtitle Ваш будущий менеджер проектов
                div.project__step.project__step3#step3
                    section.content
                        a(href="#").logo
                            img(src="./assets/images/logo.png" alt="Логотип")
                        h1 Стоимость вашего проекта от
                            span.project__cost &nbsp;8888$
                        span.content__subtitle Оставить заявку на точный расчет:
                        form(action='#' name="order" method='GET' id="formOrder")
                            input.input(type="tel" id="userPhone" name="phone" placeholder="+38 (0...)")
                            button.button#toOrder(type="submit") Заказать
                    aside.aside
                        span.aside__overhead Знакомтесь
                        div.aside__personAvatar
                            img(src="./assets/images/avatar-img.png" alt="Менеджер проекта")
                        span.aside__personName Дмитрий Тищенко
                        span.aside__subtitle Буду рад ответить



